body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.mainhead {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #00684A;
  padding: 10px;
  font-family: "Noto Sans", sans-serif;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-family: "Noto Sans", sans-serif;
  max-width: 1480px;
}

.parent {
  display: flex;
  flex-direction: column;
  max-width: 1480px;
  width: 50%;
}

.child button {
  width: 50px;
  height: 20px;
  border-radius: 20px;
  border: none;
  background-color: #b1ff05;
}

.child span,
a {
  color: white;
}

.child2 {
  color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 7px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  max-width: 1330px;
}

.nav img {
  width: 10%;
}

.nav a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  color: black;
}

.nav a:hover {
  color: #001e2b;
}

.newnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  margin-right: 24%;
}

.sticky-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-height: 55px;
  margin-right: 18%;
  background-color: white;
  width: 100%;
}

.newnav a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  color: black;
}

.newnav h4 {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(43, 43, 43);
}

.newnav a:hover {
  color: #00aa57;
}

.nav2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 15%;
}

.nav2 a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  color: black;
}

.nav2 button {
  width: 140px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #00ed64;
}

.nav2 button:hover {
  border-radius: 25px;

}

.newbanner {
  display: flex;
  background-color: rgb(0 30 43);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-family: "Noto Sans", sans-serif;
}

.child-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 160px;
  /* margin: 160px; */
  gap: 3px;
}

.child-1 p {
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #b8c4c2;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.child-1 h4 {
  font-size: 50px;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.child-1 img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;

}


.row button {
  width: 160px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #00ed64;
}


.row button:hover {
  border-radius: 25px;
}

.child-1 button {
  width: 160px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #00ed64;
}

.child-1 button:hover {
  border-radius: 45px;
}

.child-1 span a {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  text-decoration: none;
  margin-right: 180px;
  margin-top: -35px;
  font-weight: bold;
}

.newbanner2 {
  display: flex;
  background-color: rgb(0 30 43);
  border-radius: 0px 0px 80px 80px;
}

.Content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #001e2b;
}

.row {
  max-width: 1480px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

.Content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #001e2b;
  border-radius: 0px 0px 80px 80px;
}

.Content3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Content4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column1-c {
  display: flex;
  flex-direction: column;
  margin: 50px;
}


.column1 {
  display: flex;
  flex-direction: column;
  margin: 50px;
}



.column1-c p {
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #cbcbcb;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.column1-c h4 {
  font-size: 50px;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);
}

.column1-c a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}




.column1 p {
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #383838;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.column1 h4 {
  font-size: 50px;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(40, 40, 40);
}

.column1 a {
  color: black;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

.column3 p {
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #383838;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.column3 h4 {
  font-size: 50px;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(40, 40, 40);
}

.column3 a {
  color: rgb(52, 52, 52);
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

.column3-c p {
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #cbcbcb;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.column3-c h4 {
  font-size: 50px;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);
}

.column3-c a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

.column3-c {
  display: flex;
  flex-direction: column;
  margin: 50px;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  padding: 90px;
  background-color: #001e2b;
}

.links-1 img {
  width: 90%;
}

.links-5,
.links-1,
.links-2,
.links-3,
.links-4 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Noto Sans", sans-serif;
  color: white;
  gap: 25px;
  line-height: 24px;
}

.copyright,
.copyright p {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00684A;
  font-family: "Noto Sans", sans-serif;

}

.links-3 a,
.links-2 a,
.links-4 a,
.links-5 a {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.slidecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 50px 50px 0px;
  height: 600px;
  padding: 90px;
}

.slidecontainer h4 {
  font-family: "Noto Sans", sans-serif;
  color: rgb(55, 55, 55);
  font-size: 26px;
  text-align: center;
}

.slide1,
.slide2,
.slide3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 40px;
  /* border: 2px black solid; */
  border-radius: 35px;
  height: 600px;
  gap: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 238, 236);
}

.slide1:hover,
.slide2:hover,
.slide3:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 5px 10px 10px 5px;
}


.rowslider,
.rowfooter {
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  gap: 60px;
}

.slide1 p,
.slide2 p,
.slide3 p {
  font-family: "Noto Sans", sans-serif;
  color: rgb(55, 55, 55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 26px;
}

.slide1 a,
.slide2 a,
.slide3 a {
  color: #00684A;
  font-weight: bold;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

.slide1 img,
.slide2 img,
.slide3 img {
  width: 75%;
  align-items: center;
}

.maincontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001e2b;
  border-radius: 0px 50px 50px 0px;
  height: 600px;
  padding: 90px;
  gap: 20px;
}

.maincontainer h4 {
  font-family: "Noto Sans", sans-serif;
  color: white;
}

.maincontainer p {
  font-family: "Noto Sans", sans-serif;
  color: white;
}

.part1,
.part2,
.part3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 33.33%;
  padding: 30px;
}

.part1 h4,
p {
  font-family: "Noto Sans", sans-serif;
  color: white;
}


.part1 h4,
.part2 h4,
.part3 h4 {
  font-size: 20px;
}

.part1 img,
.part2 img,
.part3 img {
  width: 25%;
  align-items: left;
}

.part2 img {
  width: 30%;
  align-items: left;
}

.part1 p,
.part2 p,
.part3 p {
  font-family: "Noto Sans", sans-serif;
  padding: 5px;
  line-height: 25px;
}

.part1 a,
.part2 a,
.part3 a {
  text-decoration: none;
  color: #00ed64;
  font-weight: bold;
}